<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>Servlets.Main</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>Servlets.SendMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainJSP</servlet-name>
        <jsp-file>/jsp/MainJSP.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainJSP</servlet-name>
        <url-pattern>/mainJSP</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>Servlets.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Servlets.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sign-upJSP</servlet-name>
        <jsp-file>/jsp/SignUP.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign-upJSP</servlet-name>
        <url-pattern>/sign-upJSP</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sign-inJSP</servlet-name>
        <jsp-file>/jsp/SignIN.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign-inJSP</servlet-name>
        <url-pattern>/sign-inJSP</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/dating_site_db</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <servlet-class>Servlets.Menu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>menuJSP</servlet-name>
        <jsp-file>/jsp/menuJSP.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>menuJSP</servlet-name>
        <url-pattern>/munuJSP</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateQuestionnaire</servlet-name>
        <jsp-file>/jsp/CreateQuestionnaire.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateQuestionnaire</servlet-name>
        <url-pattern>/questionnaire</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuestionnaireSR</servlet-name>
        <servlet-class>Servlets.Questionnaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuestionnaireSR</servlet-name>
        <url-pattern>/questionnaireSR</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ALL</servlet-name>
        <jsp-file>/jsp/ALL.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ALL</servlet-name>
        <url-pattern>/all</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyQuestionnaire</servlet-name>
        <jsp-file>/jsp/MyQuestionnaire.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyQuestionnaire</servlet-name>
        <url-pattern>/myquestionnaire</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeQuestionnaire</servlet-name>
        <jsp-file>/jsp/ChangeQuestionnaire.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeQuestionnaire</servlet-name>
        <url-pattern>/сhange-questionnaire</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeQuestionnaireSR</servlet-name>
        <servlet-class>Servlets.ChangeQuestionnaire</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeQuestionnaireSR</servlet-name>
        <url-pattern>/сhange-questionnaireSR</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OtherQuestionnaires</servlet-name>
        <jsp-file>/jsp/OtherQuestionnaires.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>OtherQuestionnaires</servlet-name>
        <url-pattern>/otherquestionnaires</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessageSR</servlet-name>
        <servlet-class>Servlets.Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageSR</servlet-name>
        <url-pattern>/messageSR</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Message</servlet-name>
        <jsp-file>/jsp/Message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>chat</servlet-name>
        <jsp-file>/jsp/chat.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Direct</servlet-name>
        <jsp-file>/jsp/Direct.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Direct</servlet-name>
        <url-pattern>/direct</url-pattern>
    </servlet-mapping>
</web-app>